<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>


<%= product[0].items[0].fields.title %>


<%= product[0].items[0].fields.title %>
<%= product[0].items[0].fields.description %>
<% console.log(product[0].items[0].fields.products) %>
<%= product[0].includes.Entry[0].fields.size.value %>
<%= product[0].includes.Asset[0].fields.file.url %>


</body>
</html>
