<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>


  <%= product[0].items[0].fields.title %>
  <br>
<img src="<%= product[0].includes.Asset[0].fields.file.url %>" width="300">
<p><%= product[0].includes.Entry[0].fields.value %></p>











<br>
<%= product[1].items[0].fields.title %>
<br>
<img src="<%= product[1].includes.Asset[0].fields.file.url %>" width="300">
<br>
  <%= product[2].items[0].fields.title %>
  <br>
<img src="<%= product[2].includes.Asset[0].fields.file.url %>" width="300">
<br>
<%= product[3].items[0].fields.title %>
<br>
<img src="<%= product[3].includes.Asset[0].fields.file.url %>" width="300">
<br>
<%= product[4].items[0].fields.title %>
<br>
<img src="<%= product[4].includes.Asset[0].fields.file.url %>" width="300">
<br>




</body>
</html>
